{% extends "frontend/index.html" %}
{% load static %}{% load l10n %}
{% block title %}Actualité{% endblock %}
{% block extrahead %}
<style>
    .scrollview {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>
{% endblock %}
{% block content %}
<div class="row pt-4">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for article in articles %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" data-bs-interval="5000">
      <img src="uploads/{{ article.affiche.url }}" class="d-block w-100 rounded rounded-2" alt="...">
      
      <div class="carousel-caption bg-danger rounded-2">
        <h6>
            <a href="{% url 'article' pk=article.pk %}" class="text-white bg-danger rounded-2 text-decoration-none fs-6">{{ article.titre }}</a>
        </h6>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
{% for article in articles %}
<div class="row pt-4 pb-1 my-4 border border-success rounded-2 shadow-lg">
    <div class="col-md-4">
        <img src="{{ article.image }}" class="img w-100 h-100 rounded-2" />
    </div>
    <div class="col-md-8 h-50">
        <div class="p-1">
        <h2 class="card-title fs-2">{{ article.titre }} <span class="end-0 badge bg-primary text-white fs-6">Nouveau</span></h2>
        <p class="card-text">{{ article.contenu }}</p>
        <p class="card-text"><small class="text-muted"> Par {{ article.auteur }} Le {{ article.date_creation}} - pour {{ article.journal }}</small></p>
        <div class="d-flex justify-content-around">
        <a class="btn btn-custom text-white rounded rounded-pill" href="{% url 'article' pk=article.pk %}" >
            <i class="fas fa-eye"></i> Consulter</a>
        <a class="btn btn-danger text-white rounded rounded-pill" href="{% url 'commenter' pk=article.pk %}">
            <i class="fas fa-pen"></i> Commenter</a>
        </div>
        </div>
      </div>
</div>
{% endfor %}
<a class="text-white rounded-pill  fixed-bottom bg-custom-red col-1 text-center w-2 mb-1" href="#">
    <i class="fas fa-arrow-up fs-2 text-white"></i>
</a>
{% endblock %}
{% block extrafooter %}
{% endblock %}
{% block extrascripts %}
{% endblock %}
