{% extends "frontend/index.html" %}
{% load static %}{% load l10n %}
{% block extrahead %}
<style>
    .scrollview {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>
{% endblock %}
{% block content %}
{% for entreprise in entreprises %}
<div class="row pt-4 pb-1 my-4 border border-success rounded-2 shadow-lg align-items-center justify-content-center">
    <div class="col-md-4">
        {% if entreprise.logo %}
        <img src="{{ entreprise.logo }}" class="img w-100 h-100 rounded-2" />
        {% else %}
        <img src="{% static 'frontend/img/no-photo.png' %}" class="img w-100 h-100 rounded-2" />
        {% endif %}
    </div>
    <div class="col-md-8 h-50">
        <div class="p-1">
        <h2 class="card-title fs-2">{{ entreprise.raison_soc }} <span class="end-0 badge bg-primary text-white fs-6">{{ entreprise.get_forme_display }}</span></h2>
        <p class="card-text"><i class="fas fa-address-card"></i> ICE: {{ entreprise.ice }}</p>
        <p class="card-text"><i class="fas fa-address-card"></i> RC: {{ entreprise.rc }}</p>
        <p class="card-text"><i class="fas fa-phone"></i> {{ entreprise.fixe }}</p>
        <p class="card-text"><i class="fas fa-fax"></i> {{ entreprise.fax }}</p>
        <p class="card-text"><i class="fas fa-at"></i> {{ entreprise.email }}</p>
      </div>
</div>
{% endfor %}
{% endblock %}
{% block extrafooter %}
<footer class="row-fluid pt-5 bg-light">
    <a class="text-white rounded-sm start-0  fixed-bottom p-1 w-0" href="#">
        <i class="fas fa-arrow-up fs-2 text-danger"></i>
    </a>
</footer>
{% endblock %}
{% block extrascripts %}
{% endblock %}
