{% load static %}{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ "fr" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>{% block title %}Annonces Légales{% endblock %}</title>
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{% static 'frontend/img/favicon.png'%}" />
      <!-- Core theme CSS (includes Bootstrap)-->
      <link href="{% static 'frontend/css/styles.css' %}" rel="stylesheet" />
      <link href="{% static 'frontend/css/fontawesome.min.css' %}" rel="stylesheet" />
      <link href="{% static 'frontend/css/animate.min.css' %}" rel="stylesheet" />
      <style>
      @font-face {
        font-family: "Comfortaa";
        src: url("{% static 'frontend/fonts/Comfortaa.ttf' %}");
      }
      *, body {
        font-family: "Comfortaa";
      }
      nav a {
          font-family: "Comfortaa";
          font-size: 1.3rem;
      }
      nav a.navbar-brand {
          font-family: "Comfortaa";
          font-size: 1.5rem;
      }
      .scrollview {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }/*
      .event-container > .event-info > p.event-title {
        font-size: 17px;
      }
      .card {
          transition: transform 0.2s ease;
          box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
          border-radius: 1px;
          border: 0;
          margin-bottom: 1.5em;
      }*/
      </style>
      {% block extrahead %}{% endblock %}
  </head>
  <body>
      <!-- Responsive navbar-->
      <nav class="navbar navbar-expand-lg align-items-center navbar-expand-sm col-12 bg-light fixed-top">
          <div class="container px-3">
              <a class="navbar-brand text-black fs-6" href="{% url 'front' %}"><i class="fas fa-bullhorn"></i> Nachra Annonces</a>
              <button class="navbar-toggler fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <!--<span class="navbar-toggler-icon">Menu</span>-->
                  <i class="fas fa-ellipsis navbar-toggler-icon"></i> 
              </button>
              <div class="collapse navbar-collapse container-fluid justify-content-between" id="navbarSupportedContent" >
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item px-2"><a class="nav-link fs-6" aria-current="page" href="{% url 'front' %}">Accueil <i class="fa-solid fa-home"></i></a></li>
                      <li class="nav-item px-2"><a class="nav-link  fs-6" aria-current="page" href="{% url 'liste_annonces' %}">Annonces publiées <i class="fa-solid fa-bullhorn"></i></a></li>
                      <li class="nav-item px-2"><a class="nav-link  fs-6" aria-current="page" href="{% url 'nouvelle_annonce' %}">Publier une annonce <i class="fa-solid fa-file-circle-plus"></i></a></li>
                      <li class="nav-item px-2"><a class="nav-link  fs-6" href="{% url 'contact' %}">Contactez nous <i class="fa-solid fa-phone"></i></a></li>
                  </ul>
                  <ul class="navbar-nav me-sm-0 mb-2 mb-lg-0">
                      {% if request.user.is_authenticated %}
                      <li class="nav-item d-flex justify-content-start rounded rounded-pill px-2">
                        <a class="nav-link rounded rounded-pill  fs-6" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample" >
                          Menu <i class="fa-solid fa-ellipsis fa-sm"></i>
                        </a>
                      </li>
                      {% else%}
                          <li class="nav-item justify-content-start px-2"><a class="nav-link  fs-6" href="{% url 'b-login' %}">Connexion <i class="fa-solid fa-right-to-bracket"></i></a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>
      <!-- Page Content-->
      <div class="container px-4 px-lg-5 mb-5">
          {% if request.user.is_authenticated %}
          <!-- BARRE LATERALE  -->
          <div class="offcanvas offcanvas-end d-flex flex-column flex-shrink-0 p-3 text-white" tabindex="-1" style="width: 280px;" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
              <a class="d-flex align-items-center mb-3 mb-md-0 me-md-0 text-dark text-decoration-none text-center">
                <span class="fs-4">Bonjour {{ request.user.username }} </span>
              </a>
              <hr>
              <ul class="nav nav-pills flex-column mb-auto">
                <li>
                  <a class="nav-link"  href="{% url 'tdb' %}"><i class="fas fa-gears"></i> Tableau de bord</a>
                </li>
                <li>
                  <a class="nav-link" href="#"><i class="fas fa-search"></i> Lien 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-user-plus"></i> Lien 3</a>
                </li>
                <li>
                  <a class="nav-link"  href="#"><i class="fas fa-person-chalkboard"></i> Lien 4</a>
                </li>
                <li>
                  <a class="nav-link"  href="#"><i class="fas fa-list"></i> Lien 5</a>
                </li>
                
              </ul>
              <hr>
              <a class="nav-link text-center" href="{% url 'b-logout' %}"><i class="fas fa-person-running"></i> Déconnexion</a>
          </div>
          {% endif %}
      {% block content %}
          <div class="row gx-4 gx-md-2 gy-md-2 gy-sm-2 align-items-center my-2 justify-content-between">

          </div>
      {% endblock %}
      </div>
      <!-- Footer-->
      <footer class="py-2 fixed-bottom bg-light text-dark">
          <div class="container px-4 px-lg-5  "><p class="m-0 text-center">Copyright 2022 &copy; </p></div>
      </footer>
      <script src="{% static 'frontend/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'frontend/js/scripts.js'%}"></script>
      <script src="{% static 'frontend/js/fontawesome.min.js'%}"></script>
      <script src="{% static 'frontend/js/jquery-3.6.0.min.js'%}"></script>
      {% block extrascripts %}
      <script type="text/javascript">
          {% for message in messages %}
            alert("{{message}}");
          {% endfor %}
      </script>
      {% endblock %}
  </body>
</html>
