{% extends "frontend/index.html" %}
{% load static %}{% load l10n %}{% load qr_code %}
{% block title %}Toutes les annonces{% endblock %}
{% block extrahead %}
<style>
    .scrollview {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
</style>
{% endblock %}
{% block content %}
<div class="pt-3">
    <form class="form row my-1 d-flex justify-content-between align-items-around" method="get">
        <div class="col-md-4 col-sm-12 py-2">
            <input class="form-control" type="text" name="reference" placeholder="référence annonce ici" id="reference" />
        </div>
        <div class="col-md-4 col-sm-12 py-2">
            <input class="form-control" type="date" name="date_creation" placeholder="date annonce ici" id="date_creation" />
        </div>
        <div class="col-md-3 col-sm-12 py-2">
            <select class="form-select text-center" name="type_annonce" id="type" placeholder="Type annonce">
                <option value="0">Toutes les annonces</option>
                <option value="1">Création</option>
                <option value="2">Modification</option>
                <option value="3">Autre</option>
            </select>
        </div>
        <div class="col-md-1 col-sm-12 text-center py-2">
            <button class="btn btn-primary col-md-12 col-sm-12" type="submit"><i class="fa-solid fa-solid fa-magnifying-glass"></i> <span class="d-sm-black d-md-none">Rechercher</span></button>
        </div>
    </form>
</div>
{% comment %}<div class="row my-4 justify-content-around">
    {% for annonce in annonces %}
    <div class="card col-md-3 col-sm-12 mx-1 px-0 shadow-sm my-2">
        <div class="card-header col-12   text-center bg-light text-dark">
            <h4 class="font-weight-bold col-12 px-0 text-dark">{{ annonce.intitule }} <span class="badge bg-danger text-white fs-6">Réf: {{ annonce.reference }}</span></h4>
            <p class="text-primary">{{ annonce.date_creation }}</p>
        </div>
        <div class="card-body d-flex justify-content-center bg-white">
            <p>{{ annonce.contenu }}</p>
        </div>
        <div class="card-footer col-12 px-0 d-flex justify-content-center">
            <a class="btn btn-custom col-6 px-0" href="#"><i class="far fa-eye"></i> Consulter</a>
        </div>
    </div>
    {% endfor %}
</div>{% endcomment %}
{% for annonce in annonces %}
<div class="row pt-4 pb-1 my-4 border border-success rounded-2 shadow-lg">
    <div class="col-lg-3 d-none d-lg-block justify-content-center align-items-center">
        <!--<i class="fa fa-bullhorn fs-4 w-100 h-50 rounded-2 text-center"></i>-->
        {% qr_from_text "{{ annonce.reference }}" size="M" %}
    </div>
    <div class="col-lg-9 col-md-12 h-50">
        <div class="p-1">
        <h2 class="card-title fs-2 d-flex justify-content-between">{{ annonce.intitule }} <span class="end-0 badge bg-danger text-white fs-6">Référence: {{ annonce.reference }}</span></h2>
        <p class="card-text">{{ annonce.contenu }}</p>
        <p class="card-text"><small class="text-muted"> Par {{ annonce.annonceur }} Le {{ annonce.date_creation}} - pour {{ annonce.annonceur.entreprise }}</small></p>
        <a class="btn btn-custom text-white end-0" href="{{ annonce.url }}" target="_blank">Détails</a>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}
{% block extrafooter %}
<footer class="mt-5">
    <div class="d-flex justify-content-center align-items-center">
    <a class="text-white rounded-sm start-0 end-0 fixed-bottom py-1  px-2 w-25 mx-1 btn btn-custom" href="{% url 'nouvelle_annonce' %}">
        <i class="fas fa-file-circle-plus"></i> Nouvelle Annonce</a>
    </div>
</footer>
{% endblock %}
{% block extrascripts %}
{% endblock %}
